$dark-bg: #181818;
$light-bg: #fff;
$grey-color: #7e7e7e;
$primary: rgb(50, 146, 255);
$rounding: 0.5rem;

$moderator-color: #5e84f1;
#chat #ytc-filter {
  .sm-btn {
    padding: 0.1rem 0.3rem;
  }

  button {
    padding: 0.3rem 0.7rem;
  }

  .vc-container {
    font-size: 0.7rem;
    padding: 0.8rem;
  }

  .vc-title {
    font-size: 0.9rem;
  }

  .vc-notification {
    font-size: 0.65rem;
  }

  .vc-content {
    padding: 0.6rem;
    //max-height: 25rem;
    overflow-y: scroll;
  }

  .vc-message-item {
    .vc-timestamp {
      font-size: 0.7rem;
    }
  }
}

html[dark] #ytc-filter {
  button,
  .vc-toolbar {
    background-color: $dark-bg;
    &:hover,
    &:active {
      background-color: lighten($dark-bg, 10%);
    }
  }

  .vc-container {
    color: $light-bg;
    background-color: $dark-bg;
  }
  .vc-notification {
    color: $light-bg;
    background-color: lighten($dark-bg, 10%);
  }
}

#ytc-filter {
  .w-100 {
    width: 100%;
  }

  a:active,
  a:visited {
    color: $primary;
  }
  a:hover {
    color: darken($primary, 10%);
  }

  .svg-icon {
    fill: $primary;
  }

  .sm-btn {
    padding: 0.2rem 0.5rem;
  }

  .active {
    color: $light-bg;
    background-color: $primary;
    .svg-icon {
      fill: $light-bg;
    }
    &:hover {
      background-color: darken($primary, 10%);
    }
  }

  .hidden {
    visibility: hidden;
  }

  button {
    cursor: pointer;
    background-color: $light-bg;
    color: $primary;
    border-radius: $rounding;
    padding: 0.5rem 1rem;
    font-weight: 500;
    border: 2px solid $primary;
    outline: none;
    &:hover,
    &:active {
      background-color: darken($light-bg, 10%);
    }
  }
  input,
  select {
    border-radius: $rounding;
    outline: none;
  }
  .vc-container {
    height: 100%;
    color: $dark-bg;
    background-color: $light-bg;
    font-size: 1.3rem;
    padding: 1rem;
  }

  .vc-toolbar {
    display: flex;
    background-color: $light-bg;
    justify-content: space-between;
  }

  .vc-valign {
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      margin-right: 0.2rem;
    }
  }

  .vc-title {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .vc-options {
    margin-bottom: 1rem;
  }
  .vc-options-item {
    padding: 0.5rem;
  }

  .vc-content {
    padding: 1rem;
    //max-height: 25rem;
    overflow-y: scroll;
  }
  .vc-filter-list {
    max-height: 10rem;
    overflow-y: scroll;
    list-style-type: none;
  }
  .vc-message-item {
    margin-top: 0.5rem;
    .vc-timestamp {
      font-size: 1rem;
      color: $grey-color;
      cursor: pointer;
    }
    .vc-author {
      margin-left: 1rem;
      color: $grey-color;

      .author-icon {
        display: inline-block;
        vertical-align: middle;
      }

      &.author {
        color: $moderator-color;
        .author-icon {
          fill: $moderator-color;
        }
      }
      &.owner {
        color: #111111;
        background-color: #ffd600;
      }
    }
    .vc-message {
      margin-left: 1rem;
      img {
        width: 24px;
        height: 24px;
      }
    }
  }

  .vc-notification {
    position: absolute;
    padding: 1rem 1rem;
    background: darken($light-bg, 10%);
    color: $dark-bg;
    top: 4rem;
    left: 50%;
    width: 24rem;
    margin-left: -12rem;
    border-radius: 1rem;
    border: 2px solid $primary;
    display: flex;
    justify-content: space-between;
    z-index: 2000;
    font-size: 1.25rem;
    max-height: 35rem;

    .notification-content {
      padding: 0.5rem;
      overflow-y: auto;
      max-height: 33rem;
      p {
        margin-bottom: 0.5rem;
      }
      ul {
        list-style: disc;
        margin-left: 1rem;
      }
      h2 {
        margin-top: 1rem;
      }
    }
    .close {
      height: 3rem;
    }
  }

  .vc-resize {
    text-align: center;
    width: 100%;
    cursor: n-resize;
  }

  .flex-align-center {
    display: flex;
    align-items: center;
  }

  .flex-align-base {
    display: flex;
    align-items: baseline;
  }
  .justify-end {
    justify-content: flex-end;
  }
}
