$dark-bg: #181818;
$light-bg: #fff;
$grey-color: #7e7e7e;
$primary: rgb(50, 146, 255);
$rounding: 0.5rem;

html[dark] #ytc-filter {
  button,
  .vc-toolbar {
    background-color: $dark-bg;
  }

  .vc-container {
    color: $light-bg;
    background-color: $dark-bg;
  }
  .vc-notification {
    color: $light-bg;
    background-color: lighten($dark-bg, 10%);
  }
}

#ytc-filter {
  .svg-icon {
    fill: $primary;
  }

  .sm-btn {
    padding: 0.2rem 0.5rem;
  }

  .hidden {
    visibility: hidden;
  }

  button {
    cursor: pointer;
    background-color: $light-bg;
    color: $primary;
    border-radius: $rounding;
    padding: 0.5rem 1rem;
    font-weight: 500;
    border: 2px solid $primary;
    outline: none;
  }
  input,
  select {
    border-radius: $rounding;
    outline: none;
  }
  .vc-container {
    height: 100%;
    color: $dark-bg;
    background-color: $light-bg;
    font-size: 1.3rem;
    padding: 1rem;
  }
  .vc-toolbar {
    display: flex;
    background-color: $light-bg;
    justify-content: space-between;
  }

  .vc-valign {
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      margin-right: 0.2rem;
    }
  }

  .vc-title {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .vc-options {
    margin-bottom: 1rem;
  }
  .vc-options-item {
    padding: 0.5rem;
  }

  .vc-content {
    padding: 1rem;
    max-height: 25rem;
    overflow-y: scroll;
  }
  .vc-filter-list {
    max-height: 10rem;
    overflow-y: scroll;
    list-style-type: none;
  }
  .vc-message-item {
    margin-top: 0.5rem;

    .vc-timestamp {
      font-size: 1rem;
      color: $grey-color;
    }
    .vc-author {
      margin-left: 1rem;
      color: $grey-color;
    }
    .vc-message {
      margin-left: 1rem;
    }
  }

  .vc-notification {
    position: absolute;
    padding: 1rem 2rem;
    background: darken($light-bg, 10%);
    color: $dark-bg;
    left: 50%;
    width: 20rem;
    margin-left: -10rem;
    border-radius: 1rem;
    border: 2px solid $primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2000;
  }
}
