@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

#ytc-messages {
  height: 100vh;
}

.message-column {
  &.limited-width {
    max-width: 25rem;
  }
  display: flex;
  flex-direction: column;
  .message-column-title {
    max-height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.settings-column {
  height: calc(100vh - 1rem);
  overflow-y: auto;
}
#message-list {
  //max-width: 30rem;

  .toolbar {
    margin-bottom: 0.5rem;
  }
  .vc-content {
    padding: 1rem;
    //max-height: 25rem;
    overflow-y: scroll;
    height: calc(100vh - 8.5rem);
  }
}
